
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
*, *::after, *::before{
  box-sizing: border-box;
}

#imagefirst {
  position: absolute;
  position: relative;

  text-align: center;
}

body {
  background-color: #eff3f4;
}


h1,
h3,
h4 {
  color: #7b035b;
}

/* ////dropdown/// */
.nav {
  height: 80px;
  width: 100%;
  background-color: #263e62;
  position: relative;
}
.logo{
  height: 60px;
  width: 60px;
 margin-bottom: 20px;
}
.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 26px 20px 26px 20px;
  text-decoration: none;
  color: #fff;
}

.nav > .nav-links > a:hover {
  background-color: #7b035b;
  color: #fff;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}


/*/////faqcss //////*/
@media screen and(max-width: 507px) {
  .faqh{
    font-size: 10px;
    margin-top: 20px;
  }
}
.faqh{
  font-size: 25px;
  margin-top: 20px;
}
.faq-card{
  background-color: #fff;
  border-radius: 10px;
  padding: 1em 2em 1em 2em;
  position: relative;
  margin: 2em;
  transition: .3s ease;
  overflow: hidden;
}

.toggle-btn{
  font-size: 20px;
  position: absolute;
  top: .8em;
  right: 1em;
  cursor: pointer;
}

.toggle-btn .cross-btn{
  display: none;
}

.ans{
  display: none;
  /* background-color: #f2f2f2; */
}

.faq-card.active{
  padding-bottom: 1.5em;
}
/* adding background image from font-awesome */
.faq-card.active::before,
.faq-card.active::after{
  content: '\f075';
  color: rgb(220, 213, 213);
  font-size: 7em;
  position: absolute;
  opacity: .2;
  top: -6.5px;
  left: 10px;
  z-index: 0;
}

.faq-card.active .ans{
  margin-top: .5em;
  display: block;
}

.faq-card.active .toggle-btn .cross-btn{
  display: flex;
  /* fixing position */
  position: relative;
  top: .3em;
  left: .1em;
}

.faq-card.active .toggle-btn .drop-btn{
  display: none;
}


/* /////footer///// */
/* footer */
@media screen and (max-width: 940px) {
  .footer {
      padding: 50px 10px;
  }
}

.footer {
  padding: 30px;
  padding-bottom: 0px;
  padding: 50px 10px;
  background-color:#263e62;
  color: #FFF;
}

h2 {
  font-size: 26px;
  margin-top: 10px;

}

li {
  padding: 10px;
  border-bottom: 1px solid #6C6C6C;
}

a {
  color: #FFF;
}

i {
  float: right;
}

.map-img {
  font-weight: 600;
  font-size: 17px;
  padding-left: 20px;
}

a {
  color: #FFF;
}

.copy {
  padding: 20px;
  background-color:#263e62;
  color: #FFF;
}

  a {
      color: #FFF;
  }

  span {
      float: right;
  }
      i {
          margin-right: 20px;
      }


.kf-2 {
  background-color: #FCFCFC;
}

.copy {
  padding: 20px;
  background-color:#263e62;
  color: #FFF;
}

span {
  float: right;
}

  i {
      margin-right: 20px;
  }


.kf-2 {
  background-color: #FCFCFC;
}
.col-sm-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-sm-12{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}