*{
    margin: 0;
    padding: 0;
    font-family: "slab", Arial, Helvetica, sans-serif;
}
/* .container{
    border: 1px solid black;
}
.row{
    border: 1px solid red;
}
.col{
    border: 1px solid green;
}  */

#imagefirst{
  position: absolute;
  position:relative;
  /* width: 200px;
  height: 200px; */
  /* object-fit: contain; */
 text-align: center;
 
}
 /*///// navbar /////*/


 body {
  margin: 0px;
  background-color:#eff3f4;
  font-family: 'segoe ui';
}

.nav {
  height: 80px;
  width: 100%;
  background-color: #263e62;
  position: relative;
}
.logo{
  height: 60px;
  width: 60px;
 margin-bottom: 20px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 26px 20px 26px 20px;
  text-decoration: none;
  color: #fff;
}

.nav > .nav-links > a:hover {
  background-color: #7b035b;
  color: #fff;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
  
  /* /////// h text //////// */
  h1{
    color: #7b035b;
    margin-top: 30px;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
  }

  h4,h3{
    color: #7b035b;
  
  }

  /* //// card ///// */
  .card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    /* border-radius: .28571429rem; */
    border-radius: 0px 25px 0px 25px;
    /* box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; */
    margin-top:20px;
    width: 1000px;
    height: 170px;
    margin-bottom: 18px;
    margin-left: 10px;
    /* box-shadow: 0px 8px 0px rgb(106, 204, 204); */
    box-shadow:  5px 5px 10px#999;
    background: #c4ddec;
    
}
.card-text{
  color: rgb(10, 10, 10);
}
.card :hover {
  text-decoration: none;
}
.card :hover {
  /* opacity: 0.8; */
  background: #7b035b;
  transition: all 0.4s;
}
.card :hover h4{
  color: #fff;
}
.card :hover .card-text{
  color: #fff;
}
.doctorimges{
    margin-left: 90px;
    border-radius:100%; 
    width: 200px;
    height: 200px;
    object-fit: contain;
}

/*///// footer //////*/
@media screen and (max-width: 940px) {
  .footer {
      padding: 50px 10px;
  }
}

.footer {
  @include big-padding();
  padding: 30px;
  padding-bottom: 0px;
  padding: 50px 10px;
  background-color:#263e62;
  color: #FFF;
}

h2 {
  font-size: 26px;
  margin-top: 10px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #6C6C6C;
}

a {
  color: #FFF;
}

i {
  float: right;
}

.map-img {
  font-weight: 600;
  font-size: 17px;
  padding-left: 20px;
}

a {
  color: #FFF;
}

.copy {
  padding: 20px;
  background-color:#263e62;
  color: #FFF;
}

  a {
      color: #FFF;
  }

  span {
      float: right;
  }
      i {
          margin-right: 20px;
      }


.kf-2 {
  background-color: #FCFCFC;
  @include big-padding();
}

  .single-key {
      @include shado-4();
  }


.copy {
  padding: 20px;
  background-color:#263e62;
  color: #FFF;
}

span {
  float: right;
}

  i {
      margin-right: 20px;
  }


.kf-2 {
  background-color: #FCFCFC;
  @include big-padding();
}
  .single-key {
      @include shado-4();
  }
.col-sm-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-sm-12{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}