* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* .container {
  border: 1px solid black;
}

.row {
  border: 1px solid red;
}

.col {
  border: 1px solid green;
}   */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
  background-color: #eff3f4;
}

.nav {
  height: 80px;
  width: 100%;
  background-color: #263e62;
  position: relative;
}

.logo {
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 26px 20px 26px 20px;
  text-decoration: none;
  color: #fff;
}

.nav>.nav-links>a:hover {
  background-color: #7b035b;
  color: #fff;
  transition: .7s;
}

.nav>#nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color:#263e62;
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color:#7b035b;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* slidercss  */

.carousel-inner {
  width: 100%;
  height: 500px;
}
#slider-detail .carousel-indicators {
  left: -70%;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

#slider-detail{
  padding-top: 0px;  
} 
@media screen and (max-width: 1086px){
  .carousel-cover{
top: -131px;
left: -24%;
transform: rotate(12deg);
  }
}
  @media  screen and(max-width: 999px) {
    .carousel-cover{
       transform: rotate(7deg);
       top: -100px;
    }
  }
  @media  screen and(max-width: 767px) {
    .carousel-cover{
      display: none;
    }
  }

.carousel {
  position: relative;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol{
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}
.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
}

.w-100 {
  width: 100%!important;
}
d-block {
  display: block!important;
}
img{
  max-width: 100%;
}
@media screen and (max-width: 1086px){
  .carousel-cover{
      top: -131px;
  left: -24%;
  transform: rotate(12deg);
  }
}
@media screen and (max-width: 999px){
  .carousel-cover{
      transform: rotate(7deg);
   top: -100px;
  }
}
@media screen and (max-width: 767px){
  .carousel-cover{
       display: none;
  }
}
@media screen and (max-width: 1090px){
#slider-detail .carousel-caption {
  top: 30px;
}
}
@media screen and (max-width: 1090px){
#slider-detail .carousel-caption {
  top: 30px;
}
.carousel-caption{
  padding-bottom: 20px;
  padding-top: 20px;
  z-index: 10;
  position: absolute;
  right: 15%;
  bottom: 20px;
}
#slider-detail.carousel-caption{
  text-align: left;
  left: 10%;
  max-width: 40%;
}
@media screen and (max-width: 1090px){
  #slider-detail .carousel-caption h5{
    font-size: 28px;
  }
}
}
@media screen and (max-width: 792px){
#slider-detail .carousel-caption p {
  margin-bottom: 10px;
}
}
@media screen and (max-width: 1090px){
#slider-detail .carousel-caption p {
  font-size: 14px;
}

#slider-detail .carousel-caption p{
  margin-top: 40px;
}
}

.image-about {
  background-image: url(Branding\ Valentis\ Hospotal-3.jpg);
  background-size: contain;
}

.abut-image {
  padding: 50px;
  background-color: #c4ddec;
}

@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
}

h3 {
  font-size: 1.75rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
}


p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/* card */
@media screen and(max-width: 940) {
  #key-features {
    padding: 50px 10px;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
  }
}

section {
  display: block;
}

.containers {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

@media screen and (max-width: 1199px) {
  .containers {
    max-width: 100%;
  }
}

.inner-titel-key {
  padding: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  margin-bottom: 30px;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

p {
  width: 100%;
  text-align: center;
}

.col-lg-4 .col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

#keyfeatures {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.features {
  background-color: #FFF;
  background: #c4ddec;
  box-shadow: 5px 5px 10px#999;
  margin-bottom: 30px;
  text-align: center;
  padding: 30px;
}

.features:hover {
  box-shadow: 5px 5px 10px#999;
  transition: all 0.3s ease-in;

  background-color: #7b035b;
  ;
}

.features:hover .textkey {
  color: #fff;
}

.features:hover #svg {
  fill: #fff;
}

.features:hover h5 {
  color: #FFF;
}

.textkey {
  font-size: 15px;
  font-family: mouse-500;
}

h2 {
  color: #7b035b;
}

h1,
h5,
h6 {
  color: #7b035b;
}

h3,
h4 {
  color: #fff;
}


.abouthospital {
  margin-left: 40px;
}


/* contact  */

  
iframe {
  height: 480px;
}
.contact-rooo {
  background-color: #eff3f4;
}
.contact-us-single {
  background-color: #e9eeee;
}

.cop-ck {
  padding: 10px 30px;
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.cf-ro {
  margin-top: 10px;
}

.no-margin {
  margin: 0px;

}

.no-padding {
  padding: 0px;
}

.col-sm-6 .no-padding {
  position: relative;
  width: 100%;
  min-height: 1px;
}


iframe {
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

label {
  cursor: default;
}

div {
  display: block;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #7b035b !important;
}

.form-control {
  background-color: #F8F8F8;
  margin-bottom: 20px;
}

:focus {
  background-color: #FFF;
  border-color: #CCC;
}

.col-sm-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

/* footer */
@media screen and (max-width: 940px) {
  .footer {
    padding: 50px 10px;
  }
}

.footer {
  /* @include big-padding(); */
  padding: 30px;
  padding-bottom: 0px;
  padding: 50px 10px;
  background-color: #263e62;
  color: #FFF;
}

h2 {
  font-size: 26px;
  margin-top: 10px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #6C6C6C;
}

a {
  color: #FFF;
}

i {
  float: right;
}

.map-img {
  font-weight: 600;
  font-size: 17px;
  padding-left: 20px;
}

a {
  color: #FFF;
}

.copy {
  padding: 20px;
  background-color: #263e62;
  color: #FFF;
}

a {
  color: #FFF;
}

span {
  float: right;
}

i {
  margin-right: 20px;
}
.copy {
  padding: 20px;
  background-color: #263e62;
  color: #FFF;
}

span {
  float: right;
}

i {
  margin-right: 20px;
}

.col-sm-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-sm-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}



