
*{
    margin: 0;
    padding: 0;
}
/*///// DROPDOWN//// */
  h1{
    color: #7b035b;
    margin: 50px;
    font-size: 38px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
  }
  h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #7b035b;
    margin-left: 422px;
  }
  
  h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 200px;
    background-color: #7b035b96;
    margin-left: 470px;
  }
  h4,h3{
    color: #7b035b;
    font-family: 'Quicksand', serif;
    margin-top: 10px;
  
  }
  body{
    background-color: #c4ddec;
    font-family: 'segoe ui';
   }

   .nav {
    height: 80px;
    width: 100%;
    background-color: #263e62;
    position: relative;
  }
  .logo{
    height: 60px;
    width: 60px;
   margin-bottom: 20px;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 26px 20px 26px 20px;
    text-decoration: none;
    color: #fff;
  }
  
  .nav > .nav-links > a:hover {
    background-color: #7b035b;
    color: #fff;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  
  /* ///// inputs contact /////*/
.contacttext{
    text-align: center;
  }
  #contactform{
    margin-top: 20px;
  }
  
  input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
      font-size: 0.75em;
      color: #999;
      top: -5px;
      -webkit-transition: all 0.225s ease;
      transition: all 0.225s ease;
  }
  
  .styled-input {
      float: left;
      width: 300px;
      margin: 1rem 0;
      position: relative;
  }
  
  @media only screen and (max-width: 768px){
      .styled-input {
          width:100%;
      }
  }
  
  .styled-input label {
      color: rgb(53, 52, 52);
      padding: 1.3rem 30px 1rem 30px;
      position: absolute;
      top: 0px;
      bottom: 90px;
      left: 0;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      pointer-events: none;
  }
  
  .styled-input.wide { 
      width: 650px;
      /* max-width: 100%; */
  }
  #name{
    background-color: #263e62;
    width: 300px;
  }
  #email{
    background-color: #263e62;
    height: 37px;
  }
  #address{
    background-color: #263e62;
    width: 300px;

  }
  #number{
    background-color: #263e62;
    width: 300px;
    margin-left: 6px;
  }
  #message{
    background-color: #263e62;
    width: 600px;
  }
  
  input,
  textarea {
      padding: 13px;
      border: 0;
      width: 300px;
      font-size: 1rem;
      background-color: #263e62;
      color: white;
      border-radius: 0px 25px 0px 25px; 
  } 
  
  input:focus,
  textarea:focus { outline: 0; }
  
  input:focus ~ span,
  textarea:focus ~ span {
      width: 100%;
      -webkit-transition: all 0.075s ease;
      transition: all 0.075s ease;
  }
  
  textarea {
      width: 300px;
      min-height: 10em;
      margin-left: 20px;
  }
  
  .input-contactcontainer {
      width: 650px;
      max-width: 100%;
      margin: 20px auto 25px auto;
  }
  
  .submit-btn {

      padding: 7px 35px;
      border-radius: px;
      display: inline-block;
      background-color:#7b035b;
      color: white;
      font-size: 18px;
      cursor: pointer;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
                0 2px 10px 0 rgba(0,0,0,0.07);
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
  }
  
  .submit-btn:hover {
      transform: translateY(1px);
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
                0 1px 1px 0 rgba(0,0,0,0.09);
  }
  
  @media (max-width: 768px) {
      .submit-btn {
          width:100%;
          float: none;
          text-align:center;
      }
  }
  
  input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
  } 
  
  input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
  }
  
/* footer */
#footer {
    /* background-color:; */
    color: #fff;
    font-size: 16px;
    background-color: #263e62;
  }
  #footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  /* .row {
    padding: 2em 1em;
  } */
  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  .subscribe {
    width: 100%;
    text-align: left;
    color: #7b035b;
    font-size: 15px;
    white-space: nowrap;
    margin-top: 10px;
    text-shadow: 2px 2px 4px #999;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  /* li:not(:first-child) {
    margin-top: 0.8em;
  } */
  ul li a {
    color: #fff;
    text-decoration: none;
  }
  ul li a:hover {
    color: #7b035b;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  #email,
  button {
    font-size: 15px;
    padding: 4px;
    width: 100%;
    /* border-radius: 0px 15px 0px 15px; */

    /* margin-bottom: 5px; */
  }
  button {
    background-color:#7b035b;
    color: #ffffff;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i:hover {
    color: #7b035b;
  }
  .row.secondary {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .row.secondary i {
    font-size: 1.8em;
    color: #7b035b;
  }
  .row.secondary div {
    padding: 1em 0;
    width: 100%;
    background-color: #263e62;
  }
  /* .row.secondary div:hover {
    background-color: #920781;
    height: 95px;
    transition: all 0.9s;
    border-radius: 0px 25px 0px 25px;
  } */
  .textlast1{
    font-size: 15px;
  }
  .lasttext{
    font-size: 12px;
  }
  .addresslast {
    padding: 0.3em 1em;
    background-color: #263e62;
  }
  .addresslast p {
    font-size: 0.9em;
    text-align: center;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
    .row.secondary {
      flex-direction: column;
    }
  }  