* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* .container {
  border: 1px solid black
}

.row {
  border: 1px solid red;
}

.col {
  border: 1px solid green;
} */

body {
  background-color: #eff3f4;
}

h1 {
  color: #7b035b;
  margin-top: 30px;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}

h4 {
  color: #7b035b;
}

.nav {
  height: 80px;
  width: 100%;
  background-color: #263e62;
  position: relative;
}
.logo{
  height: 60px;
  width: 60px;
 margin-bottom: 20px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 26px 20px 26px 20px;
  text-decoration: none;
  color: #fff;
}

.nav > .nav-links > a:hover {
  background-color: #7b035b;
  color: #fff;
  transition: .7s;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.image-about{
  background-image: url(Branding\ Valentis\ Hospotal-3.jpg);
  background-size: contain;
}
.abut-image{
  padding: 50px;
background-color:#c4ddec;
}
@media (min-width: 576px){
.col-sm-6 {
flex: 0 0 50%;
flex-grow: 0;
flex-shrink: 0;
flex-basis: 50%;
max-width: 50%;
}
}
h3 {
font-size: 1.75rem;
margin-block-start: 1em;
margin-block-end: 1em;
}
.ourtext{
  float: left;
  color: #7b035b;
}


p {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
}
@media(max-width: 699px){
  .keyf{
    margin-top: 100px;
  }
}
@media(max-width: 378px){
  .inner-titel-key{
    margin-top: 250px;
  }
  .keyf{
    margin-top: 130px;
  }
}

/* footer */
@media screen and (max-width: 940px) {
  .footer {
    padding: 50px 10px;
  }
}

.footer {
  /* @include big-padding(); */
  padding: 30px;
  padding-bottom: 0px;
  padding: 50px 10px;
  background-color: #263e62;
  color: #FFF;
}

h2 {
  font-size: 30px;
  margin-top: 10px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #6C6C6C;
}

a {
  color: #FFF;
}

i {
  float: right;
}

.map-img {
  font-weight: 600;
  font-size: 17px;
  padding-left: 20px;
}

a {
  color: #FFF;
}

.copy {
  padding: 20px;
  background-color: #263e62;
  color: #FFF;
}

a {
  color: #FFF;
}

span {
  float: right;
}

i {
  margin-right: 20px;
}
.copy {
  padding: 20px;
  background-color: #263e62;
  color: #FFF;
}

span {
  float: right;
}

i {
  margin-right: 20px;
}

.col-sm-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-sm-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}