*{
    margin: 0;
    padding: 0;
    font-family:  Arial, Helvetica, sans-serif;
}
 /* .container{
    border: 1px solid black;
}
.row{
    border: 1px solid red;
}
.col{
    border: 1px solid green;
}  
body{
  background-color: #eff3f4;
    margin: 0px;
} */


 /*///// navbar /////*/

.nav {
  height: 80px;
  width: 100%;
  background-color: #263e62;
  position: relative;
}
.logo{
  height: 60px;
  width: 60px;
 margin-bottom: 20px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 26px 20px 26px 20px;
  text-decoration: none;
  color: #fff;
}

.nav > .nav-links > a:hover {
  background-color: #7b035b;
  color: #fff;
  transition: .7s;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}


h2 {
  color: #7b035b;
}
h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
  h1{
    color: #7b035b;
    margin-top: 30px;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
  }

  
  h3,h4{
    color: #7b035b;
;
  }
  
  /* //////card//////// */
  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */

body {
  color: #272727;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  background-color: #eff3f4;

}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-weight: 400;
    text-align: center;
    
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #7b035b;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
@media screen and(max-width: 940) {
  #key-features {
    padding: 50px 10px;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
  }
}
.containers {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}
@media screen and (max-width: 1199px) {
  .containers {
    max-width: 100%;
  }
}

#keyfeatures {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  grid-gap: 50px;
}
.inner-titel-key {
  padding: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  margin-bottom: 30px;
}
.col-lg-4 .col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and(max-width: 700) {
  .cards{
    gap: 1em;
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  /* background: linear-gradient(to bottom left, #b423a3 40%, #2db2b0fd 100%); */
  background: #263e62;
}

.card_title {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

/*///// footer //////*/

@media screen and (max-width: 940px) {
  .footer {
      padding: 50px 10px;
  }
}

.footer {
  padding: 30px;
  padding-bottom: 0px;
  padding: 50px 10px;
  background-color:#263e62;
  color: #FFF;
}

h2 {
  font-size: 26px;
  margin-top: 10px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #6C6C6C;
}

a {
  color: #FFF;
}

i {
  float: right;
}

.map-img {
  font-weight: 600;
  font-size: 17px;
  padding-left: 20px;
}

a {
  color: #FFF;
}

.copy {
  padding: 20px;
  background-color:#263e62;
  color: #FFF;
}

  a {
      color: #FFF;
  }

  span {
      float: right;
  }
      i {
          margin-right: 20px;
      }


.kf-2 {
  background-color: #FCFCFC;
}

.copy {
  padding: 20px;
  background-color:#263e62;
  color: #FFF;
}

span {
  float: right;
}

  i {
      margin-right: 20px;
  }


.kf-2 {
  background-color: #FCFCFC;
}
.col-sm-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-sm-12{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}